@{
    ViewData["Title"] = "PAWAdmin";
    @model CsEvaluator.Data.ViewModels.HomeworkDescriptionViewModel;
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<hr />

<form asp-action="PAWAdmin" asp-controller="App" method="post" enctype="multipart/form-data" class="form-horizontal">

    <span asp-validation-summary="ModelOnly" style="color:darkred"></span>

    <div class="form-group-sm">
        <input type="text" placeholder="Homework Name" class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group-sm">
        <input type="text" placeholder="Short Description" class="form-control" asp-for="ShortDescription" />
        <span asp-validation-for="ShortDescription" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group-sm">
        <input type="text" placeholder="Full Description" class="form-control" asp-for="FullDescription" />
        <span asp-validation-for="FullDescription" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group-sm">
        <label for="reflection-file-input" class="custom-file-upload">Reflection File input</label>
        <input id="reflection-file-input" accept=".xml" type="file" asp-for="ReflectionFile">
        <span asp-validation-for="ReflectionFile" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group-sm">
        <label for="unit-test-file-input" class="custom-file-upload">Unit Tests File input</label>
        <input id="unit-test-file-input" accept=".cs" type="file" asp-for="UnitTestFile">
        <span asp-validation-for="UnitTestFile" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group-sm">
        <label for="nunit-dll-file-input" class="custom-file-upload">Nunit Dll File</label>
        <input id="nunit-dll-file-input" accept=".dll" type="file" asp-for="NunitDllFile">
        <span asp-validation-for="NunitDllFile" class="text-danger"></span>
    </div>

    <br />

    <div class="form-group-sm">
        <input type="submit" value="Submit" class="form-control btn-success" />
    </div>

</form>

