@{
    ViewData["Title"] = "Subjects";
    @model CsEvaluator.Data.ViewModels.SubjectsViewModel
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div style="display:inline-block">
@foreach (var item in Model.Subjects)
{
    <a href="/app/@item.Name" class="list-group-item">@item.Name</a>
}
</div>

